

.body{
    padding-top: 50px;
    /* background: rgba(0, 0, 0, 0.1); */
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.option_section{
    margin-top:17px;
    display: flex;
}

.option{
    border: solid 1px #c7c7c7;
    padding-bottom: 5px;
    padding-top:2px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
    margin-right: 15px;
}

.option:hover{
    border: solid 1px #575757;
}

.accom_section{
    margin-top: 40px;
    /* background-color: red; */
    border-radius: 10px;
    z-index: -1;
}

.carousel_list_section{
    /* background-color: green; */
    display: flex;
    justify-content: space-between;
    
}

.carousel_section{
    border-radius: 10px;
    margin-right: 20px;
}

.carousel_image{
    /* position: absolute; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.description{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.popular_places_section{

}

.popular_places_list{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.popular_places_tile{
    display: flex;
    width: 350px;
    /* background-color: red; */
}

.popular_places_image{
    width: 60px;
    height: 60px;
    border-radius: 5px;
}
@media only screen and (min-width: 1760px) {
    .body{
    
        padding-left: 150px;
        padding-right: 150px;
    }

    .carousel_section{
        width: 300px;
    }

    .description{
        width: 300px;
    }
    
    .carousel_item{
        height: 210px;
    }
    
}

@media only screen and (max-width: 1760px) and (min-width: 1660px) {
    .body{
        padding-left: 70px;
        padding-right: 70px;
        
    }

    .carousel_section{
        width: calc(16vw * 1920 / 1760);
    }

    .description{
        width: 17vw;
    }
    
    .carousel_item{
        height: calc(11vw * 1920 / 1760);
    }
    .carousel_image{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

}

@media only screen and (max-width: 1660px) and (min-width: 1360px) {
    .body{
       
        padding-left: 70px;
        padding-right: 70px;
    }
    .carousel_item{
        height: 15vw;
    }

    .carousel_section{
        width: 21vw;
    }

    .description{
        width: 20vw
    }
}

@media only screen and (max-width: 1360px) and (min-width: 1130px) {
    .body{
       
        padding-left: 70px;
        padding-right: 70px;
    }
    .carousel_item{
        height: 18vw;
    }

    .carousel_section{
        width: 28vw;
    }

    .description{
        width: 26vw
    }
}

@media only screen and (max-width: 1130px) and (min-width: 743px) {
    .body{
       
        padding-left: 30px;
        padding-right: 10px;
    }
    .carousel_item{
        height: 30vw;
    }

    .carousel_section{
        width: 45.5vw;
    }

    .description{
        width: 43vw
    }

    .popular_places_tile{
        display: flex;
        width: 500px;
        /* background-color: red; */
    }
    
    .popular_places_image{
        width: 70px;
        height: 70px;
        border-radius: 10px;

    }

    .popular_places_list{
        justify-content: start;
    }
}

@media only screen and (max-width: 743px) {
    .body{
       
        padding-left: 30px;
        padding-right: 10px;
    }
    .carousel_item{
        height: 60vw;
    }

    .description{
        width: 90vw
    }
}
