
.common a {
    text-decoration: none;
}

.common button {
    background-color: #008489;
    color: #ffffff;
    border: 0;
    border-radius: 4px;
    font-weight: 200;
    cursor: pointer;
    margin: 10px;
    padding: 15px;
    height: 45px;
    margin: 0;
}

.common button:disabled {
    opacity: 0.4;
}

.common .buttonSecond {
    background-color: #ffffff;
    color: #008489;
}

.common input[type="text"], .common input[type="number"] {
    max-width: 350px;
    width: 100%;
    border: 1px solid #ebebeb;
    padding-left: 10px;
    height: 40px;
    border-radius: 8px;
}

.common input[type="text"]:focus, .common input[type="number"]:focus {
    outline: none;
    border-radius: 8px;
    border: 1px solid #008489;
}

.common input[type="checkbox"] {
    width: 25px;
    height: 25px;
}

.common h1, .common h2, .common h3, .common h4, .common h5 {
    margin: 0px;
}

.common li {
    list-style: none;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.common .inputIcon {
    display: flex;
    max-width: 350px;
    width: 100%;
    border: 1px solid #ebebeb;
    height: 40px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}

    .common .inputIcon .icon {
        margin-left: 10px;
        width: 25px;
        height: 25px;
        cursor: pointer;
    }

    .common .inputIcon input {
        border: 0;
        width: calc(100% - 35px);
        max-width: calc(100% - 35px);
        height: 38px;
    }

        .common .inputIcon input:focus {
            border: 0;
        }

    .common .inputIcon:focus-within {
        border: 1px solid #008489;
    }